body {
    background-color: #82CAFA;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: red;
}

h2 {
    font-family: 'Molle', cursive;
    color: white;
    font-size: 30px;
}

#background {
    font-size: 18px;
    padding-left: 10px;
}

.strong {
    font-weight: bold;
}

img {
    height: 200px;
    width: 200px;
    float: left;
}

div {
    text-align: center;
    margin: 10px 20px ;
}
#ready{
    font-size: 30px;
}