body {
    background-color: #82CAFA;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: red;
}

h2 {
    font-family: 'Molle', cursive;
    color: white;
    margin-right: 10px;
}

h3 {
    color: red;
    font-size: 25px;
    text-align: center;
}

#background {
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Audiowide', cursive;
}

.strong {
    font-weight: bold;
}

#logo {
    height: 250px;
    width: 250px;
    float: left;
    position: relative;
}

div {
    text-align: center;
    margin: 10px 20px;
}

#ready {
    font-size: 30px;
}

.leaders {
    height: 250px;
    width: 250px;
    display: inline-block;
    margin: 30px;
    display: relative;
}

.captions {
    display: inline-block;
    margin: 10px 70px;
    position: relative;
}
